

<head>
	<meta charset="utf-8">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script>
		function getProductList($id) {
			var countryApp = angular.module('countryApp', []);
			countryApp.controller('ProductController', function ($scope, $http) {
				$http.get('http://localhost:24438/api/Product/' + $id).success(function (data) {
					$scope.result = data;

				});
			});
		}
		
	</script>
	</header>

	<body>
		<table cellpadding="2" cellspacing="2">
			<tr>
				<td>
					<table border="1" table cellpadding="2" cellspacing="2">
						<tr>
							<th>
								Название магазина
							</th>
							<th>
								Адрес магазина
							</th>
							<th>
								Время работы магазина
							</th>
							<th>
								Товары
							</th>
							<th></th>
						</tr>

						@foreach (var item in (IEnumerable<MyTask.Models.Entities.Shop>)@Model)
						{
							<tr>
								<td>
									@item.ShopName;
								</td>
								<td>
									@item.ShopAdress;
								</td>
								<td>
									@item.ShopWorkingTime;
								</td>
								<td>

									@Ajax.ActionLink("Товар", "Update", new { value = item.ShopId }, new AjaxOptions { UpdateTargetId = "update" })
								</td>
							</tr>
						}
					</table>

				</td>
				<td>
					<div id="update"></div>

				</td>
			</tr>
		</table>
	</body>
</html>
